# one-file-pdf/[.gitignore]

# binary files
*.exe
*.ttf
demo/demo

# test binary, build with `go test -c`
*.test

# output of the go coverage tool
*.out

# drafts, etc.
*.repl
*`*
__*
~~*

# logfiles and batch files
*.log
*.bat

# ignore generated PDF files
# (reference samples are in demo/sample)
demo/corporate.pdf 
demo/hello.pdf 
demo/png_images.pdf 

#end
